#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.styled-table {
  border-collapse: collapse;
  width: 100%;
}

.styled-table th,
.styled-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.styled-table thead tr {
  background-color: #f2f2f2;
}

.styled-table a {
  color: #646cff;
  text-decoration: none;
}

.styled-table a:hover {
  color: #535bf2;
}
